@media (max-width: 768px){

    .hero{
        display: none;
    }

    .container,
    .formulario{
        height: 100vh;
    }

    .container > div,
    .formulario > div{
        width: 100%;
        padding: 0 20px;
    }

    .dashboard__container,
    .menu__body{
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

    .menu__links{
        display: none;
    }

    .card__body,
    .card__progress,
    .card__button{
        width: 100%;
        margin-left: 0;
        padding-right: 0;
    }


    .card,
    .card__group{
        flex-direction: column;
    }

    .card__group .card{
        width: 100%;
        margin: 8px 0;
    }

}